.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-link {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
