@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-top: 4px solid transparent;
  border-radius: 100%;
  margin: auto;
  animation: spinner 1s infinite linear;
  z-index: 888888889;
}

.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(95, 93, 93, 0.356);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888888888;
}