.custom-card {
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content__link {
  color: rgb(126, 214, 86);
}

.text-content__title {
  display: block;
}