.footer {
  grid-area: footer;
  background: rgb(33, 37, 41);
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
