#root {
  min-height: 100%;
  display: grid;
  grid-template:
    "header" max-content
    "main" 1fr
    "footer" max-content;
}

.header {
  grid-area: header;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.main {
  grid-area: main;
  margin-top: 56px;
}
